@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wavePath {
  animation: waveDividerAnimation 20s linear infinite alternate;
}

.wave {
  position: absolute;
  bottom: -138px;
  height: 100px;
  width: 100%;
  transform: rotate(180deg);
  z-index: 1;
}

.yellowWave {
  fill: var(--yellow);
}

.whiteWave {
  fill: var(--white);
}

.grayWave {
  fill: var(--off-white);
}

path {
  d: path("M 826.337 25.5396 C 670.97 58.656 603.696 68.787 447.802 35.1443 C 293.343 1.81111 137.334 1.81111 0 1.81111 L 0 150 L 1920 150 L 1920 1.81111 C 1739.54 -16.6854 1679.86 73.1608 1389.78 37.486 C 1099.7 1.81111 981.705 -7.5767 826.337 25.5396 Z");
}

@keyframes waveDividerAnimation {
  0% {
    d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
  }
  50% {
    d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
  }
  100% {
    d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
  }
}
@media (max-width: 1440px) {
  .wave {
    bottom: -99px;
  }
}
@media (max-width: 1024px) {
  .wave {
    bottom: -71px;
  }
}
@media (max-width: 768px) {
  .wave {
    bottom: -52px;
  }
}
@media (max-width: 425px) {
  .wave {
    bottom: -30px;
  }
}
@media (max-width: 375px) {
  .wave {
    bottom: -26px;
  }
}
@media (max-width: 320px) {
  .wave {
    bottom: -22px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: var(--yellow);
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logout {
  fill: #985b5b;
  width: 28px;
  height: 28px;
  margin-left: 0.7em;
  cursor: pointer;
}

.logo-container {
  display: flex;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  font-size: 28px;
}

.navbar-link {
  padding: 0.5em 1em;
  background: transparent;
  color: var(--text-color);
  transition: 0.3s;
  height: 100%;
}
.navbar-link:hover {
  color: var(--blue);
  transform: scale(1.2);
}
.navbar-link.active {
  color: var(--blue);
}

.logo {
  fill: var(--text-color);
  height: 50px;
  width: 50px;
  margin: 0 1em;
}

.burger {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 39px;
  height: 25px;
  margin-right: 1em;
}
.burger:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: var(--not-quite-black);
}
.burger:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: var(--not-quite-black);
}
.burger span {
  width: 100%;
  height: 3px;
  background: var(--not-quite-black);
}
.burger.active span {
  display: none;
}
.burger.active:after {
  transform: rotate(45deg);
  bottom: 22px;
}
.burger.active:before {
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .burger {
    display: flex;
  }

  .navbar {
    position: fixed;
    right: -110%;
    top: 80px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background: var(--yellow);
  }
  .navbar.active {
    right: 0;
  }
}
.cheer {
  padding-top: 100px;
}

.programing-svg {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--not-quite-black);
  min-height: 200px;
}

.timer {
  display: flex;
  font-size: 40px;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  border-radius: 40px;
  text-transform: uppercase;
  min-width: 100px;
  transition: 0.3s;
  font-size: 17px;
  background: var(--green);
  color: var(--off-white);
  margin-right: 1em;
}
.start-btn:hover {
  background: var(--green-light);
}

.timer-btns {
  display: flex;
  margin-top: 1em;
}

.stop-btn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  border-radius: 40px;
  text-transform: uppercase;
  min-width: 100px;
  transition: 0.3s;
  font-size: 17px;
  background: var(--red);
  color: var(--off-white);
  margin-right: 1em;
}
.stop-btn:hover {
  background: var(--red-light);
}

.reset-btn:disabled {
  background: gray;
}
.reset-btn:disabled:hover {
  background: gray;
}

.answers {
  display: flex;
  margin: 1.4em auto;
  justify-content: center;
}

.test {
  padding-top: 190px;
  padding-bottom: 1em;
}

.answer {
  margin: 0 1em;
}

.test-q {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: var(--blue);
  text-align: center;
  margin: 3em auto 0;
}

.test-btn {
  margin: 0 auto;
}

.test-title {
  text-align: center;
  margin-bottom: 2em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .answer {
    margin: 1em auto;
  }

  .answers {
    flex-direction: column;
  }
}
body {
  color: var(--text-color);
  font-size: var(--text-size);
  font-family: Roboto, sans-serif;
}

.block {
  display: flex;
  align-items: center;
  position: relative;
  min-height: var(--page-size);
  width: 100%;
}

.radio {
  display: none;
}
.radio:checked + .radio-label {
  background: var(--blue);
  color: var(--white);
}
.radio-label {
  border-radius: 40px;
  background: var(--off-white);
  padding: 0.6em 1em;
  cursor: pointer;
  transition: 0.3s;
}
.radio-label:hover {
  background: var(--light-blue);
  color: var(--off-white);
}

.svg {
  width: 100%;
  height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  border-radius: 40px;
  text-transform: uppercase;
  min-width: 100px;
  background: var(--blue);
  color: var(--white);
  transition: 0.3s;
  font-size: 17px;
}
.btn:hover {
  background: var(--light-blue);
}

.input {
  padding: 0.7em 1em;
  border-radius: 40px;
  max-width: 300px;
  font-size: 17px;
}

.closed {
  overflow: hidden;
}

.part-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  position: fixed;
  right: -100%;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 38, 41, 0.5);
}
.aside.active {
  right: 0;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7em;
  padding: 0 1em;
}

.hidden {
  display: none;
}

.title {
  font-size: var(--title-size);
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.bg-white {
  background: var(--white);
}
.bg-white input {
  background: var(--off-white);
}

.bg-off-white {
  background: var(--off-white);
}
.bg-off-white input {
  background: var(--white);
}

.error-input {
  border: 2px solid var(--red);
}

.error-text {
  color: var(--red);
}

.bg-yellow {
  background: var(--yellow);
}
.bg-yellow input {
  background: var(--white);
}

.text {
  padding: 1em 0;
}

.form {
  display: grid;
  grid-gap: 0.7em;
  width: max-content;
}

:root {
  --not-quite-black: #23272a;
  --blue: #546dd8;
  --light-blue: #88a7ef;
  --off-white: #f6f6f6;
  --white: #fff;
  --yellow: #edd640;
  --light-yellow: #ece095;
  --page-size: 626px;
  --red: #bf5050;
  --green: #70b35f;
  --red-light: #c36e6e;
  --green-light: #9ac38f;
  --text-color: var(--not-quite-black);
  --title-size: 48px;
  --text-size: 20px;
}

@media (max-width: 425px) {
  .part-img {
    display: none;
  }

  .two-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
