@import "nullstyle";
@import "wave";
@import "_header.scss";
@import "_cheer.scss";
@import "_footer.scss";
@import "_timer.scss";
@import "test";

body {
  color: var(--text-color);
  font-size: var(--text-size);
  font-family: Roboto, sans-serif;
}

.block {
  display: flex;
  align-items: center;
  position: relative;
  min-height: var(--page-size);
  width: 100%;
}

.radio {
  display: none;

  &:checked+&-label {
    background: var(--blue);
    color: var(--white);
  }

  &-label {
    border-radius: 40px;
    background: var(--off-white);
    padding: 0.6em 1em;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: var(--light-blue);
      color: var(--off-white);
    }
  }
}


.svg {
  width: 100%;
  height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  border-radius: 40px;
  text-transform: uppercase;
  min-width: 100px;
  background: var(--blue);
  color: var(--white);
  transition: .3s;
  font-size: 17px;


  &:hover {
    background: var(--light-blue);
  }
}

.input {
  padding: 0.7em 1em;
  border-radius: 40px;
  max-width: 300px;
  font-size: 17px;

}

.closed {
  overflow: hidden;
}

.part-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  position: fixed;
  right: -100%;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 38, 41, 0.5);

  &.active {
    right: 0;
  }
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7em;
  padding: 0 1em;
}

.hidden {
  display: none;
}

.title {
  font-size: var(--title-size);
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.bg-white {
  background: var(--white);

  & input {
    background: var(--off-white);
  }
}

.bg-off-white {
  background: var(--off-white);

  & input {
    background: var(--white);
  }
}

.bg-yellow {
  background: var(--yellow);

  & input {
    background: var(--white);
  }
}

.text {
  padding: 1em 0;
}

.form {
  display: grid;
  grid-gap: 0.7em;
  width: max-content;
}

:root {
  --not-quite-black: #23272a;
  --blue: #546dd8;
  --light-blue: #88a7ef;
  --off-white: #f6f6f6;
  --white: #fff;
  --yellow: #edd640;
  --light-yellow: #ece095;
  --page-size: 626px;
  --red: #bf5050;
  --green: #70b35f;
  --red-light: #c36e6e;
  --green-light: #9ac38f;

  --text-color: var(--not-quite-black);
  --title-size: 48px;
  --text-size: 20px;
}
@media (max-width: 425px) {
  .part-img {
    display: none;
  }

  .two-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




